__pycache__/solis_functions.cpython-311.pyc
__pycache__/solis_functions.cpython-312.pyc
__pycache__/octopus_functions.cpython-312.pyc
__pycache__/inverter_control.cpython-312.pyc
__pycache__/inverter_dataset.cpython-312.pyc
__pycache__/inverter_functions.cpython-312.pyc
__pycache__/octopus_agile.cpython-312.pyc
credentials
libraries/__pycache__/*
*.json
__pycache__/*
__pycache__/unit_tests.cpython-312.pyc
__pycache__/unit_tests.cpython-312.pyc
local.settings.json